<header class="blue accent-3 relative nav-sticky">
    <div class="container-fluid text-white">
        <div class="row p-t-b-10 ">
            <div class="col">
                <h4>
                    <i class="icon-box"></i>
                   Add ATM Details
                </h4>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid my-3" id="addATM">
    <div class="d-flex row">
        <div class="col-md-12">
            <!-- Basic Validation -->
            <div class="card mb-3 shadow no-b r-0">
                <div class="card-header">
                    <h6>ATM  Details</h6>
                </div>
                <div class="card-body" >
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="validationCustom01">ATM Id <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Enter Atm Id"  required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputState">Merchant Id <span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>Merchant Id </option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">ATM Location <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Enter Atm Location" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputState">Acquirer Institution <span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>Acquirer Institution</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputState">Logging Flag <span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>Logging Flag</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">ATM Master Key <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="ATM Master Key" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">Max Amount Dispence <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Max Amount Dispence" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputState"> Header <span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>Header</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputState">EMV Enabled <span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>EMV Enabled </option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="inputState">ATM Type Id <span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>ATM Type Id</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">Terminal Id <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Terminal Id " required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">Acquirer Bin <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Acquirer Bin " required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputState">Acquirer Branch <span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>Acquirer Branch </option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputState">ATM Status <span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>ATM Status</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">ATM Common Key <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="ATM Common Key" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">IP Address<span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="IP Address" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputState"> Keep Alive <span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>Keep Alive</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputState">City Name Enabled <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="City Name Enabled" required>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="inputState">ATM Logical Group <span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>ATM Logical Group</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">ATM config Id <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="ATM config Id " required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">ATM Key len<span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>ATM Key len</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputState">Max Note Dispence <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Max Note Dispence" required>

                                </div>
                                <div class="form-group">
                                    <label for="inputState">Port No <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Port No " required>

                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">Connection type <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Connection type" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom01">Country Code<span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>Country Code</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                
                            </div>
                        </div>
                       <div class="form-group text-right">
                           <button type="submit" class="btn btn-primary right-fix" ><i class="icon icon-save"></i>Save </button>
                       </div>
                    </form>
                </div>
            </div>
           
           
        </div>
       
    </div>
</div>