<header class="blue accent-3 relative nav-sticky">
    <div class="container-fluid text-white">
        <div class="row p-t-b-10 ">
            <div class="col">
                <h4>
                    <i class="icon-box"></i>
                    Add ATM Details
                </h4>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid my-3" id="addATM">
    <div class="d-flex row">
        <div class="col-md-12">
            <!-- Basic Validation -->
            <div class="card mb-3 shadow no-b r-0">
                <div class="card-header">
                    <h4 class="float-left title-txt">ATM  Details</h4>
                    <a href="#!/atm" class="btn btn-primary float-right back-atm-btn">ATM</a>
                </div>
                <div class="card-body">
                    <form class="needs-validation" novalidate>
                        <div class="row ">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="validationCustom01">ATM Id <span>*</span></label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="Enter Atm Id" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputState">ATM Type Id <span>*</span></label>
                                        <select class="selectpicker form-control" data-live-search="true">
                                            <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                            <option data-tokens="mustard">Burger, Shake and a Smile</option>
                                            <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputState">ATM Logical Group <span>*</span></label>
                                        <select class="selectpicker form-control" data-live-search="true">
                                            <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                            <option data-tokens="mustard">Burger, Shake and a Smile</option>
                                            <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputState">Merchant Id <span>*</span></label>
                                        <select class="selectpicker form-control" data-live-search="true">
                                            <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                            <option data-tokens="mustard">Burger, Shake and a Smile</option>
                                            <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="validationCustom01">Terminal Id <span>*</span></label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="Terminal Id " required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="validationCustom01">ATM Location <span>*</span></label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="Enter Atm Location" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>

                                    <div class="form-group input-group col-md-6">
                                        <input type="text" id="search_location" class="form-control" placeholder="Search location">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default get_map" type="submit">
                                                Locate
                                            </button>
                                        </div>

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="validationCustom01">Acquirer Bin <span>*</span></label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="Acquirer Bin " required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputState">Acquirer Institution <span>*</span></label>
                                        <select class="selectpicker form-control" data-live-search="true">
                                            <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                            <option>Burger, Shake and a Smile</option>
                                            <option>frosting">Sugar, Spice and all things nice</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputState">Acquirer Branch <span>*</span></label>
                                        <select class="selectpicker form-control" data-live-search="true">
                                            <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                            <option>Burger, Shake and a Smile</option>
                                            <option>Sugar, Spice and all things nice</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="validationCustom01">ATM config Id <span>*</span></label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="ATM config Id " required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputState"> Logging Flag <span>*</span></label>
                                        <div class="">
                                            <input type="checkbox" id="loggingFlag" checked data-toggle="toggle" data-onstyle="info">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputState"> ATM Status <span>*</span></label>
                                        <div class="">
                                            <input type="checkbox" id="atmStatus" data-on="Active" data-off="Inactive" checked data-toggle="toggle" data-onstyle="info">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="validationCustom01">ATM Key len<span>*</span></label>
                                        <select class="selectpicker form-control" data-live-search="true">
                                            <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                            <option data-tokens="mustard">Burger, Shake and a Smile</option>
                                            <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="validationCustom01">ATM Master Key <span>*</span></label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="ATM Master Key" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="validationCustom01">ATM Common Key <span>*</span></label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="ATM Common Key" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputState">Max Noted Dispence <span>*</span></label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="Max Note Dispence" required>

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="validationCustom01">IP Address<span>*</span></label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="IP Address" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputState">Port No <span>*</span></label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="Port No " required>

                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputState"> Keep Alive <span>*</span></label>
                                        <div class="">
                                            <input type="checkbox" id="KeepAlive" checked data-toggle="toggle" data-onstyle="info">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputState"> Connection Type <span>*</span></label>
                                        <div class="">
                                            <input type="checkbox" id="connectionType" data-on="Client" data-off="Server" checked data-toggle="toggle" data-onstyle="info">
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group text-center">
                                    <img src="assets/img/atm-icon-gray.png" />
                                </div>
                                <div class="form-group text-center">
                                    <div id="geomap"></div>
                                </div>
                                <!--<img src="../assets/img/atm-icon-gray.png" />-->
                                <div class="form-group">
                                    <label for="validationCustom01">Max Amount Dispence <span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Max Amount Dispence" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="inputState"> Header <span>*</span></label>
                                        <div class="">
                                            <input type="checkbox" id="toggle-one" checked data-toggle="toggle" data-on="HEX" data-off="ASCII" data-onstyle="info">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputState">EMV Enabled <span>*</span></label>
                                        <div class="">
                                            <input type="checkbox" id="toggle-two" checked data-toggle="toggle" data-onstyle="info">
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="inputState">Country <span>*</span></label>
                                    <select class="selectpicker form-control" data-live-search="true">
                                        <option>Hot Dog, Fries and a Soda</option>
                                        <option>Burger, Shake and a Smile</option>
                                        <option>Sugar, Spice and all things nice</option>
                                    </select>

                                </div>

                            </div>

                            <div class="col-md-12">
                                <fieldset>
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>D.S</th>
                                                                <th>Denom Value</th>
                                                                <th>Denom Currency Code</th>
                                                                <th>action</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in itemList">
                                                                <td>
                                                                    <p>{{item.count}}</p>
                                                                </td>
                                                                <td>
                                                                    <input type="text" placeholder="Denom Value" class="form-control" ng-model="item.name" required>
                                                                </td>
                                                                <td>
                                                                    <input type="text" placeholder="Denom Currency Code" class="form-control" ng-model="item.price" required>
                                                                </td>
                                                                <td>
                                                                    <a href="javascript:void(0)" class="btn btn-success" ng-show="$last" ng-click="addFields()" style=" padding: 4px 10px;"><span class="icon-plus"></span></a>
                                                                    <a href="javascript:void(0)" class="btn btn-danger btn-sm" ng-show="$last" ng-click="deleteField()" style=" padding: 4px 10px;"><span class="icon-minus"></span></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>







            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary "><i class="icon icon-save"></i>Save </button>
                <button type="submit" class="btn btn-warning "><i class="icon icon-refresh "></i>Reset </button>
            </div>

        </div>
    </div>


</div>

