<header class="blue accent-3 relative nav-sticky">
    <div class="container-fluid text-white">
        <div class="row p-t-b-10 ">
            <div class="col">
                <h4>
                    <i class="icon-box"></i>
                    Institution Details
                </h4>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid my-3" id="addATM">
    <div class="d-flex row">
        <div class="col-md-12">
            <!-- Basic Validation -->
            <div class="card mb-3 shadow no-b r-0">
                <div class="card-header">
                    <h4 class="float-left title-txt">Institution  Details</h4>
                    <!-- <a href="#!/institution" class="btn btn-primary float-right back-atm-btn">Institution</a>-->
                </div>
                <div class="card-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label for="inputState">Select Institution Name<span>*</span></label>
                                    <select id="inputState" class="form-control">
                                        <option>Select Institution</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary" ng-click="ShowHide()"><i class="icon icon-eye"></i>View </button>
                        </div>
                        <div class="" ng-show="IsVisible">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Institution ID</th>
                                        <th>Institution Name</th>
                                        <th>Institution Route Type</th>
                                        <th>Institution Type</th>
                                        <th>Insitution Currency Code</th>
                                        <th>Max ATM Pin Tries Cnt</th>
                                        <th>Max Tele Pin Tries Cnt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12</td>
                                        <td>Testing</td>
                                        <td>Normal</td>
                                        <td>Normal</td>
                                        <td>Normal</td>
                                        <td>Normal</td>
                                        <td>Normal</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </form>




                </div>
            </div>


        </div>

    </div>
</div>