<header class="blue accent-3 relative nav-sticky">
    <div class="container-fluid text-white">
        <div class="row p-t-b-10 ">
            <div class="col">
                <h4>
                    <i class="icon-box"></i>
                    Add Profile Details
                </h4>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid my-3" id="addATM">
    <div class="d-flex row">
        <div class="col-md-12">
            <!-- Basic Validation -->
            <div class="card mb-3 shadow no-b r-0">
                <div class="card-header">
                    <h4 class="float-left title-txt">Add Profile </h4>
                    <!-- <a href="#!/institution" class="btn btn-primary float-right back-atm-btn">Institution</a>-->
                </div>
                <div class="card-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label for="inputState">Institution Name<span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Branch Code" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputState">Profile Name<span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Branch Code" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputState">Profile Discription<span>*</span></label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Branch Code" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputState"> Login IP Address Check <span>*</span></label>
                                    <div class="">
                                        <input type="checkbox" id="loginIp" data-toggle="toggle" data-onstyle="info">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputState"> Consecutive User Password Check<span>*</span></label>
                                    <div class="">
                                        <input type="checkbox" id="consecutive" data-toggle="toggle" data-onstyle="info">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputState"> Password Expiry check<span>*</span></label>
                                    <div class="">
                                        <input type="checkbox" id="passwordExpire" data-toggle="toggle" data-onstyle="info">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputState"> Force Password Set<span>*</span></label>
                                    <div class="">
                                        <input type="checkbox" id="force" data-toggle="toggle" data-onstyle="info">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary"><i class="icon icon-eye"></i>Submit  </button>
                            <button type="submit" class="btn btn-warning"><i class="icon icon-refresh"></i>Reset </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>