<header class="blue accent-3 relative nav-sticky">
    <div class="container-fluid text-white">
        <div class="row p-t-b-10 ">
            <div class="col">
                <h4>
                    <i class="icon-box"></i>
                    Dashboard
                </h4>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid relative animatedParent animateOnce">
    <div class="animated show active">
        <div class="row my-3">
            <div class="col-md-3">
                <div class="counter-box white r-5 p-3">
                    <div class="p-4">
                        <div class="float-right">
                            <span class="icon icon-user text-light-blue s-48"></span>
                        </div>
                        <div class="counter-title">Total Users</div>
                        <h5 class="sc-counter mt-3">1228</h5>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box white r-5 p-3">
                    <div class="p-4">
                        <div class="float-right">
                            <span class="icon icon-ticket s-48"></span>
                        </div>
                        <div class="counter-title ">Total Transcations</div>
                        <h5 class="sc-counter mt-3">1228</h5>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box white r-5 p-3">
                    <div class="p-4">
                        <div class="float-right">
                            <img src="assets/img/atm-icon-v.png" style="width:62px;" />
                        </div>
                        <div class="counter-title">Total ATM's</div>
                        <h5 class="sc-counter mt-3">1228</h5>
                    </div>
                   </div>
            </div>
            <div class="col-md-3">
                <div class="counter-box white r-5 p-3">
                    <div class="p-4">
                        <div class="float-right">
                            <span class="icon icon-line-chart s-48"></span>
                        </div>
                        <div class="counter-title">Total Point Sales</div>
                        <h5 class="sc-counter mt-3">550</h5>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
           
            <div class="col-md-12">
                <div class="card my-3 no-b ">
                    <div class="card-header white b-0 p-3">
                        <div class="card-handle">
                            <a data-toggle="collapse" href="#salesCard" aria-expanded="false"
                               aria-controls="salesCard">
                                <i class="icon-menu"></i>
                            </a>
                        </div>
                        <h4 class="card-title">Daily Sale Report</h4>
                        <small class="card-subtitle mb-2 text-muted">Items purchase by users.</small>
                    </div>
                    <div class="collapse show" id="salesCard">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover earning-box">
                                    <thead class="bg-light">
                                        <tr>
                                            <th colspan="2">Client Name</th>
                                            <th>Item Purchased</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="w-10">
                                                <a href="panel-page-profile.html" class="avatar avatar-lg">
                                                    <img src="assets/img/dummy/u6.png" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <h6>Sara Kamzoon</h6>
                                                <small class="text-muted">Marketing Manager</small>
                                            </td>
                                            <td>25</td>
                                            <td>$250</td>
                                        </tr>
                                        <tr>
                                            <td class="w-10">
                                                <a href="panel-page-profile.html" class="avatar avatar-lg">
                                                    <img src="assets/img/dummy/u7.png" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <h6>Sara Kamzoon</h6>
                                                <small class="text-muted">Marketing Manager</small>
                                            </td>
                                            <td>25</td>
                                            <td>$250</td>
                                        </tr>
                                        <tr>
                                            <td class="w-10">
                                                <a href="panel-page-profile.html" class="avatar avatar-lg">
                                                    <img src="assets/img/dummy/u9.png" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <h6>Sara Kamzoon</h6>
                                                <small class="text-muted">Marketing Manager</small>
                                            </td>
                                            <td>25</td>
                                            <td>$250</td>
                                        </tr>
                                        <tr>
                                            <td class="w-10">
                                                <a href="panel-page-profile.html" class="avatar avatar-lg">
                                                    <img src="assets/img/dummy/u11.png" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <h6>Sara Kamzoon</h6>
                                                <small class="text-muted">Marketing Manager</small>
                                            </td>
                                            <td>25</td>
                                            <td>$250</td>
                                        </tr>
                                        <tr>
                                            <td class="w-10">
                                                <a href="panel-page-profile.html" class="avatar avatar-lg">
                                                    <img src="assets/img/dummy/u12.png" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <h6>Sara Kamzoon</h6>
                                                <small class="text-muted">Marketing Manager</small>
                                            </td>
                                            <td>25</td>
                                            <td>$250</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>