<header class="blue accent-3 relative nav-sticky">
    <div class="container-fluid text-white">
        <div class="row p-t-b-10 ">
            <div class="col">
                <h4>
                    <i class="icon-box"></i>
                    Network Monitor Details
                </h4>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid my-3" id="addATM">
    <div class="d-flex row">
        <div class="col-md-12">
            <!-- Basic Validation -->
            <div class="card mb-3 shadow no-b r-0">
                <div class="card-header">
                    <h6>Network  Monitor</h6>
                </div>
                <div class="card-body">
                    <div class="box-body no-padding">
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th>INST ID</th>
                                    <th>PORT ID </th>
                                    <th>PORT NAME</th>
                                    <th>PORT STATUS</th>
                                    <th>NETWORK ID</th>
                                    <th>NETWORK NAME</th>
                                    <th>TOMEOUT</th>
                                    <th>NETWORK STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>183</td>
                                    <td>D353</td>
                                    <td>Raja</td>
                                    <td>Approved</td>
                                    <td>Mn839</td>
                                    <td>Airtel</td>
                                    <td>23sec</td>
                                    <td>Disconnected</td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td>23De</td>
                                    <td>Raja</td>
                                    <td>Approved</td>
                                    <td>Raja998</td>
                                    <td>Airtel</td>
                                    <td>343sec</td>
                                    <td>Disconnected</td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td>23De</td>
                                    <td>Raja</td>
                                    <td>Approved</td>
                                    <td>Raja998</td>
                                    <td>Airtel</td>
                                    <td>343sec</td>
                                    <td>Disconnected</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>