<style>
    .dataTables_paginate.paging_simple_numbers{
        display:none !important;
    }
</style>

<header class="blue accent-3 relative nav-sticky">
    <div class="container-fluid text-white">
        <div class="row p-t-b-10 ">
            <div class="col">
                <h4>
                    <i class="icon-box"></i>
                    ATM Monitor Details
                </h4>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid my-3" id="addATM">
    <div class="d-flex row">
        <div class="col-md-12">
            <!-- Basic Validation -->
            <div class="card mb-3 shadow no-b r-0">
                <div class="card-header">
                    <h4 class="float-left title-txt">ATM  Transcation Monitor</h4>
                    <a href="#!/txnMonitorLive" class="btn btn-primary float-right back-atm-btn">Transcation live Data </a>
                </div>
                <div class="card-body">
                    <div class="box-body table-responsive  no-padding">
                    </div>
                </div>
            </div>


        </div>


       
    </div>
</div>